@use "../../assets/scss/defaults" as *;
@use "../../assets/scss/partials/variables" as *;

.myghosts-container {
  display: block;
  width: 90%;
  margin: auto;
  padding-top: 10rem;
  margin-bottom: 3rem;

  @include lg {
    display: flex;
  }

  @media (min-width: 1024px) {
    display: flex;
  }

  &__sort {
    background-color: $primary-color;
    color: $text-color;
    border-radius: 25px;
    padding: 0.1% 6% 6% 6%;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    @include md {
      display: flex;
      justify-content: space-between;
    }

    @include lg {
      display: block;
      padding: 3%;
      width: 30%;
      margin-right: 5%;
    }

    @media (min-width: 1024px) {
      display: block;
      padding: 3%;
      width: 260px;
      margin-right: 5%;
    }

    .sort-container {
      &__item {
        display: block;
        input {
          background-color: #75539c;
        }
      }
    }
  }
}

.pagination {
  color: $secondary-color;
  text-align: center;
  margin-right: 5%;
  font-size: 1.5rem;
  font-family: $secondary-font;
  @include lg {
    margin-right: 3%;
  }
  span {
    margin-left: 5%;

    @include lg {
      margin-left: 3%;
    }
  }

  span:nth-of-type(1),
  span:nth-of-type(2),
  span:nth-of-type(9) {
    color: $text-color;
  }
}
