/* Colors */
$primary-color: #7349ac;
$secondary-color: #c7c7c7;
$bg-color: #d9d9d9;
$fg-color: #7c6c77;
$text-color: #ffffff;
$warn-color: #c1292e;

/* Fonts */
$primary-font: HelveticaNue, sans-serif;
$secondary-font: PressStartP2, sans-serif;

/* Path */
$images-path: "../../img/";
